<div id="<%= dom_id invitation %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Invitee name:</strong>
    <%= invitation.invitee_name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Invitee email:</strong>
    <%= invitation.invitee_email %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Active:</strong>
    <%= invitation.active %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Company:</strong>
    <%= invitation.company_id %>
  </p>
</div>
